<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a0a0a160-c3f7-494a-aa9f-0af63e082570/resourceGroups/ASYNC-InnTDCB/providers/Microsoft.Web/sites/ASYNC-InnTDCB</ResourceId>
    <ResourceGroup>ASYNC-InnTDCB</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://async-inntdcb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>async-inntdcb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ASYNC-InnTDCB</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ASYNC-InnTDCB</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>